.Navigation {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    position: fixed;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;

    &-link {
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 9px;
        color: rgb(175, 181, 183);
        width: 100%;
        border: 0;
        padding: 0;
        font-family: 'Roboto Condensed', sans-serif;
        position: relative;

        svg {
            fill: rgb(175, 181, 183);
            margin: 0;
        }

        &-active {
            &::before {
                content: "";
                position: absolute;
                border-top: rgb(155, 218, 214) 3px solid;
                width: 10%;
                top: 0;
            }

            span {
                color: #4A4A4A;
            }

            svg {
                fill: #4A4A4A;
            }
        }
    }

    &-add {
        margin-top: -16px;
        position: relative;

        &::before {
            content: "";
            box-shadow: 0px 5px 20px -10px rgb(0,0,0);
            width: 60px;
            height: 60px;
            display: block;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 2px;
        }

        svg {
            margin: 0;
            padding: 0;
            height: 64px;
            width: 64px;
            position: relative;
        }

        .ios.Offline & {
            display: none
        }

        &--disabled {
            display: none;
            cursor: not-allowed;

            .ios.Offline & {
                display: block;
            }
        }
    }
    
    &__notifications {
        display: block;
        background: #9bdad6;
        color: white;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        height: 20px;
        min-width: 20px;
        border-radius: 15px;
        font-family: 'Raleway';
        z-index: 2;
        position: absolute;
        top: 7px;
        margin-left: 14px;
    }
  }