@import "_config";

.CalendarMonthGrid {
  background: $white;
  text-align: left;
  z-index: 0;
  &__animating {
    z-index: 1;
  }
  &__horizontal {
    position: absolute;
  }
  &__vertical {
    margin: 0 auto;
  }
  &__vertical_scrollable {
    margin: 0 auto;
    overflow-y: scroll;
  }
  &_month {
    &__horizontal {
      display: inline-block;
      min-height: 100%;
      vertical-align: top;
      width: 250px;
    }
    &__hideForAnimation {
      opacity: 0;
      pointer-events: none;
      position: absolute;
      z-index: -1;
    }
    &__hidden {
      visibility: hidden;
    }
  }
}