.QuestionSent {
    flex-direction: row;
    height: 100vh;
    margin-top: 41px;
    justify-content: space-between;    
    align-content: center;

    &-point {
        display: flex;
        margin: 30px 0;

        .Point-inner {
            border-radius: 1.8ch;
        }
    }

    &-image {
        margin: 160px auto 0 auto;
        display: flex;        
        align-items: center;
        justify-content: center;
    }
    &-text {
        margin: 0 auto;
        text-align: center;
        width: 250px;
        margin: 40px auto 20px auto;
        
    }
    &-action{
        margin: 40px auto 0 auto;
    }

    &-button{
        min-width: 250px;
        width: 85%;
        display: block;
        margin: 0 auto;
        padding: 12px;
        justify-content: center;
        align-items: center;
        min-height: 48px;
        height: 100%;
        line-height: normal;
        text-align: center;
        border: 0;
        font-weight: 400;
        font-size: 15px;
        color:white;
        text-decoration-line: none;
        background-color: rgb(155, 218, 214);
        box-shadow: 0px 5px 20px -10px rgb(0,0,0);

    }
    
}